<div fxFlex fxLayout="row" fxLayoutAlign="space-between none" class='appBar-container'>
  <div fxFlex="30" class="left-side">
    <img src="./assets/images/logistik-logo.png" alt="Logo">
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center none" class="right-side">
    <div fxFlex="70" fxLayout="row" fxLayoutAlign="end center" class="up">
      <div class="body-type"><span>body type</span></div>
      <div class="button-setting"><i class="material-icons">settings</i></div>

    </div>
    <div fxFlex class="down"></div>
  </div>
</div>