#dialog {
    @import '../styles/components/_buttons';
    @import '../styles/base/_sizes';
    @import '../styles/base/_paddings';
    @import '../styles/base/_backgrounds';
    width: 100%;
    height: 100%;
    position: relative;
    .mat-tab-list {
        display: none;
    }
    .mat-tab-header {
        display: none !important;
    }
    .mat-toolbar-layout{
        width:100%;
    }
    md-card {
        min-width: 72vw;
        min-height: 63vh;
        h1 {
            color: #95989A;
        }
    }
    h1 {
        font-size: 50px;
        font-weight: 100;
    }
}



