   <!--    filter panel   -->
    <div id="filter_panel">
        <label translate>Color</label>

        <div class="pallet">
            <ul>
                <!--<li #black  *ngFor ="let colr_item of color_prd" ><div></div></li>-->
                <li #black *ngIf="checkColor('black')" class="black"><div></div></li>
                <li #lightblue *ngIf="checkColor('lightblue')" class="lightblue"><div></div></li>
                <li #purple *ngIf="checkColor('purple')" class="purple"><div></div></li>
                <li #redpurple *ngIf="checkColor('redpurple')" class="redpurple"><div></div></li>
                <li #greenblue *ngIf="checkColor('greenblue')" class="greenblue"><div></div></li>
                <li #red *ngIf="checkColor('red')" class="red"><div></div></li>
                <li #beige *ngIf="checkColor('beige')" class="beige"><div></div></li>
                <li #pink *ngIf="checkColor('pink')" class="pink"><div></div></li>
                <li #blue *ngIf="checkColor('blue')" class="blue"><div></div></li>
            </ul>
        </div><br />

        <div id="range_price">
            <span translaten>Minimum Price</span>:

            <form action="#">
                <p class="range-field">
                    <input #minPrice type="range" id="minPrice" [min]="minPriceRange" [max]="maxPriceRange" /><span>{{minPriceVal}}</span>
                </p>
            </form>
            <div class="clr_both"></div>
            <span translaten>Maximum Price</span>:
            <form action="#">
                <p class="range-field">
                    <input #maxPrice type="range" id="maxPrice" [min]="minPriceRange" [max]="maxPriceRange" /><span>{{maxPriceVal}}</span>
                </p>
            </form>
        </div>
    </div>
