<form [formGroup]="fv.emailForm" >
    <div class="form-group">
        <md-input-container color="accent">
            <input mdInput formControlName="email" placeholder="Email" type="email" [(ngModel)]="client.email">
        </md-input-container>
        <div *ngIf="fv.formErrors_email.email" class="errorMessage">
            {{ fv.formErrors_email.email }}
        </div>
    </div>
</form>
<button #suivant [disabled]="!fv.emailForm.valid" (click)="next(false);" type="button" class="stefanka-button-large stefanka-button-accent" i18n>NEXT</button><br/>
<button #incognito (click)="next(true);" type="button" class="stefanka-button-large stefanka-button-secondary" i18n>INCOGNITO</button>

