@import './_reset.scss';


html, body{
  height:100%;
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif ;
}
.align-right{
  text-align: right;
}
.align-left{
  text-align: left;
}
.align-center{
  text-align: center;
}
