<span translate>Enter your password to log into your account</span>.
<form [formGroup]="fv.passwordForm">
    <div class="form-group">
        <mat-input-container color="accent">
            <input #clientPassword matInput formControlName="password"  name="password" type="password"  [placeholder]="'Password'|translate">
        </mat-input-container>
    </div>
    <span *ngIf="fv.formErrors_password.password" style ="color:red;margin-top:-5px;" translate>
        {{ fv.formErrors_password.password }}
    </span>
    <span *ngIf="!fv.passwordForm.valid && clientPassword.value" style ="color:red;margin-top:-5px;" translate>
        {{fv.validationMessages_password.password.wrongPassword}}
    </span>
</form>

<button [disabled]="!fv.passwordForm.valid || isClickedNext" class="stefanka-button-large stefanka-button-accent" (click)="password(clientPassword.value)" (touch)="password(clientPassword.value)"
    translate>NEXT</button>

