body {
    position: fixed;
    font-family: 'Raleway-Regular';
}

#login-container {
    width: 500px;
}

#login-container div {
    width: 100%;
}

#logo-container {
    text-align: center;
}

#logo-container img {
    max-width: 100%;
    margin-bottom: 42px;
}

#login-components-container {
    height: 200px;
}

md-input-container {
    width: 100%;
}

#home-container, #login-container {
    height: 100%;
}



/* ----------------------------- preloader  --------------*/
#preLoader_{
    margin-top:150px;
}
#preLoader_ .preloader-wrapper {
    width: 100px;
    height: 100px;
    
}

/*-----------------------------------prefilter --------*/

#content_prefilter {
    text-align: center;
}

#content_prefilter p {
    font-size: 34px;
    opacity: 0.87;
    text-align: center;
    margin: 0 auto;
}

#svg_div {
    width: 70%;
    text-align: center;
    display:block;
    margin:auto;
    margin-top: 20px;
}

#content_prefilter svg {
    max-width: 100%;
    max-height: 100%;
}

.st0:hover,.st1:hover {
    cursor: pointer;
}

#content_prefilter .right_btn {
    position: absolute;
    top: 50%;
    right: -25%;
}
#result_circle_error label{
    margin-top: 20px;
    font-size: 30px;
    color:black;
    opacity:0.87;
    text-decoration:underline;
    cursor:pointer;
}
#result_circle_error p {
    margin-top: 80px;
    font-size: 30px;
}

/* ----footer -------*/
#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

#footer p {
    font-size: 20px;
    opacity: 0.38;
    float: right;
}

#footer img {
    width: 176px;
    float: right;
    padding-top: 4px;
}

.clear_both {
    clear: both;
}

    /*-------------------------footer---------------------------*/
#footer p {
    font-size: 20px;
    margin-top: 10px;
}

#footer img {
    width: 150px;
    padding-top: 15px;
}