@font-face {
    font-family: 'Avenir';
    src: url("../assets/fonts/Avenir-Black.woff");
  }
*:not(i){
    font-family: 'Avenir' !important;
}  
#dialog {
    @import '../styles/components/_buttons';
    @import '../styles/base/_sizes';
    @import '../styles/base/_paddings';
    @import '../styles/base/_backgrounds';
    
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: initial !important;
    overflow: hidden !important;
    .mat-tab-list {
        display: none;
    }
    .mat-tab-header {
        display: none !important;
    }
    .mat-toolbar {
        background: transparent !important;
    }
    .back-btn{
        width: 50px;
        height: 50px;
    }
    i{
        cursor: pointer;
        color: rgba(0,0,0,0.3);
    }
    .mat-toolbar-layout{
        width:100%;
    }
    .mat-tab-body.mat-tab-body-active,.mat-tab-body-wrapper {
        overflow: hidden !important;
        border: none;
    }
    .mat-raised-button{
        border-radius: 50px !important ;
    }
    .card {
        height: 40vh;
        width:100%;
        border: 1px solid transparent ;
        overflow: hidden !important;
        
    }
    .btn{
        position: absolute;
        bottom: 3px;
    }
    h1,h2,h3{
        font-weight: 900;
        margin: 0;
    }
    
    button{
        border-radius: 50px;
        font-size: 20px;
        font-weight: 900;
        outline: none;
        height: 57px;
    }
    .fixed-height{
        height: 170px;
    }
    .toolbar{
        display: block;
        position: absolute;
        top:0;
        left:0;
    }
    .mat-input-underline {
        display: none;
    }
    .mat-input-element {
        vertical-align: bottom;
        margin-top: 13px;
        text-align: center;
        height: 30px;
        max-width: 15% !important;
    }
    .mat-input-wrapper {
        padding: 0 !important;
    }
    .mat-input-infix {
        border: none;
        padding: 0;
    }
    .mat-select {
        height: 20px;
        margin-top: 15px;
        margin-left: -15px;
    }
    .mat-select-underline {
        display: none !important;
    }
    .mat-select-trigger {
        min-width: 10px;
    }
    .mat-select-arrow {
        color: #CDDC38;
    }
    input{
        border-bottom: 3px solid #70F5D1;
    }
    .error-msg{
        background-color: #CDDC39;
        color:#9D44B7;
    }
    .error-msg{
        width: 154px;
        height: 52px;
        text-align: center;
        padding-top: 5px;
        border-radius: 50px;
    }
    .content{
        margin-top: -70px;    
    }
    form.h2{
        display: table;
    }
}
.mat-select-panel,.mat-primary,.mat-select-panel-done-animating,.mat-select-content 
{
    min-width: 10px !important;
    border-radius: 60px !important;
}
.mat-select-panel{
    margin-left: 30px ;
}
.mat-select-content{
    text-align: center;
}
.mat-option,.mat-option-ripple {
    border-radius: 60px;
    text-align: center !important;
}

.mat-option:hover{
    background-color: #CDDC38 !important;
}
ul.stepShow{
    list-style-type: none;
    padding: 0 ;
    li span{
        // margin-left:5px; 
        color:rgba(0,0,0,0.3) ;
    }
    li span:last-child{
    }
}
.mat-dialog-container {
    border: 100px solid #9D44B7;
    overflow: hidden !important;
}
.mat-tab-body-content {
    overflow: hidden !important;
}

.transparent{
    opacity: 0;
}
// .fade-In{
//     -webkit-transition: opacity 2s ease-in;
//     -moz-transition: opacity 2s ease-in;
//     -ms-transition: opacity 2s ease-in;
//     -o-transition: opacity 2s ease-in;
//     transition: opacity 2s ease-in;
// }
// .fade-In.load{
//     opacity: 1;
// }
#step1{
    .fixed-height{
        text-align: center;
    }
    img{
        width: 50%;
        // max-width: 300px;
        // max-height: 200px;
        margin: auto;
    }
    .btn{
        width: 355px;
        background-color: #70F5D1;
        color:#0F1CF8;
        margin:auto;
    }
    h1 {
        color: #70F5D1;
        text-align: center;
        font-size: 4em;
    }
    
}
#step2{
    .btn{
        width: 355px;
        background-color: #CDDC39;
        color:#FFFFFF;
        // margin:60px auto;
    }
    h3{
        font-size: 2em;
        color:#CDDC39;
    }
    h2{
        font-size: 2.5em;
        color: #70F5D1;
        display: table;
    }
    
    
}
#step3{
    .btn{
        width: 178px;
        margin: 0 5px;
    }
    .btn1{
        border: 1px solid #9D44B7;
        background-color: #FFFFFF;
        color:#9D44B7;
    }
    .btn2{
        background-color: #9D44B7;
        color:#FFFFFF;
        right:18%;
    }
    h3{
        font-size: 2em;
        color:#9D44B7;
        position: absolute;
        top: 50px;
    }
    
    h2:first-child{
        font-size: 2.5em;
        color:#0F1CF8;
    }
    h2:last-child{
        font-size: 2.5em;
        color:#9D44B7;
    }
    .info-body{
        h3{
            font-size: 2em;
            color:#70F5D1;
        }
        
    }
    .fixed-height{
        margin-top: 50px;
    }  
    img{
        // height: 100%;
        margin-top: 100px;
    }
    
    .btnInfo{
        max-width: 355px;
        width: 100%;
        background-color: #70F5D1;
        color: #FFFFFF;
        margin-top: 50px;
    }
    

}

#step4{
    h1{
        font-size: 4em;
        font-weight: 900;
        color:#CDDC39;
        text-align: center;
    }
    img{
        width: 15%;
    }
}
#step5{
    .btn{
        width: 178px;
    }
    .btn1{
        border: 1px solid #0F1CF8;
        background-color: #FFFFFF;
        color:#0F1CF8;
        right:50%;
        white-space: normal;
    }
    .btn2{
        background-color: #0F1CF8;
        color:#FFFFFF;
        
    }
    h2{
        font-size: 2.5em;
        color:#0F1CF8;
        position: absolute;
        top:50px;
    }
    h1{
        font-size: 4em;
        color:#9D44B7;
    }
    .mat-button,.mat-raised-button {
        line-height: 20px;
    }
}
#step6{
    h3{
        font-size: 2em;
        font-weight: 900;
        color:#70F5D1;
        text-align: center;
        position: absolute;
        top:50px;
    }

    p{
        color:rgba(0,0,0,0.4);
        max-width:400px;
        width: 100%;
    }
    .btn{
        background-color: #70F5D1;
        color:#FFFFFF;
    }
}
// .current-step{
//     color:#CDDC39 !important;
// }
// .current-step::after{
//     content: '_';
//     // color:#CDDC39; 
// }

@media (max-width: 1024px) {
    #dialog {
        h1{
            font-size: 2em !important;
        }
        h2{
            font-size: 1.75em !important;
        }
        h3{
            font-size: 1.5em !important;
        }
        .btn{
            width: 250px;
        }
        #step3{
            .btn{
                width: 150px;
                font-size: 1.2em;
            }
            img{
                margin-top:180px;
            }
        }
        #step5{
            .btn{
                width: 150px;
                font-size: 1.2em;
            }
        }
        .mat-input-element {
            margin-top: 0;
        }
        .mat-select-arrow{
            height: 20px;
        }
    }     
     
}