<md-progress-spinner
    color="accent" 
    [mode]="spinnerMode" 
    value="100" >
</md-progress-spinner>
<div class="message-spinner" fxLayout="row" fxLayoutAlign="space-around center">
    <span *ngIf="numberOfProducts > 0">
        You got <br><span class="message-spinner-num-recommendation">
            {{numberOfProducts}}</span><br> recommendations!
    </span>
    <span *ngIf="numberOfProducts == 0">
        <span i18n>Sorry, we didn't get any match...</span>
        <br>
        <button md-button (click)="tryAgain()" i18n>TRY AGAIN</button>
    </span>
</div>
<button *ngIf="numberOfProducts > 0" class="stefanka-button-round" (click)="switchToCatalog()">
    <span class="stefanka-button-round_label" i18n>NEXT</span>
    <span class="stefanka-button-round_icon"><md-icon>arrow_forward</md-icon></span>
</button>