body {
    height: auto;
    margin: 0;
    border:1px solid;
}
cart-list, app-menu-global {
    margin: 0 8px;
}
md-sidenav-container {
    background-color: #E4E4E4;
    padding-top: 64px;
    height: 100%;
}
md-sidenav {
  width: 70%;
  padding-top: 64px;
  display: flex;
  overflow: hidden;
  box-shadow: -1px 8px 12px 4px rgba(0,0,0,0.14);
}
md-toolbar {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    box-shadow: 0px 5px 10px #888888;
    -webkit-box-shadow: 0px 5px 10px #888888;
    -moz-box-shadow: 0px 5px 10px #888888;
}
.toolbar-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@media screen and (max-width: 1000px) {
    md-sidenav {
        width: 100%;
    }
}
/*@media screen and (min-width: 1200px) {
    md-sidenav {
        width: 900px;
    }
}*/

md-grid-list {
    margin-top: 18px;
    padding-bottom: 54px;
}
md-grid-tile {
    background-color: white;
}

/* white space between left and right elements in toolbar */
.app-bar-fill {
    flex: 1 1 auto;
}


