<md-toolbar color="primary">
        <span class="stfk-title toolbar-title">Your {{products.length}} recommendations</span>
        <span class="app-bar-fill"></span>
        <div>
            <cart-list  [selectedProducts]="selectedProducts" (selectedProductsUpdate)="selectedProductsUpdate($event)"
                [client]="client">
            </cart-list>
            <app-menu-global (logout)="logout($event)"></app-menu-global>
        </div>
    </md-toolbar>
<md-sidenav-container>
    <md-sidenav #sidenav align="end" mode="side">
        <product-detail *ngIf="productSelected" [product]="productSelected" [selectedProducts]="selectedProducts" [client]="client"
            (selectedProductsUpdate)="selectedProductsUpdate($event)">
        </product-detail>
    </md-sidenav>

    <div fxLayoutAlign="center">
        <md-grid-list #catalogList [cols]="sidenav.opened ? 1 : 2" gutterSize="8" fxFlex.xs="90" fxFlex.sm="85" [fxFlex]="sidenav.opened ? 90 : 70"
            [rowHeight]="sidenav.opened ? '8:10' : '1:1'">
            <md-grid-tile *ngFor="let product of products">
                <app-product-tile [attr.class]="sidenav.opened ? 'reduced' : 'expanded'" [product]="product" (click)="onSelect(product)"></app-product-tile>
            </md-grid-tile>
        </md-grid-list>
    </div>

</md-sidenav-container>