<div *ngIf="!started && !error">The capture is about to start...</div>
<md-progress-spinner
    *ngIf="started"
    color="accent" 
    [mode]="spinnerMode" 
    [value]="scanProgression"
    style="width:500px; height:500px;">
</md-progress-spinner>
<div class="message-spinner" fxLayout="row" fxLayoutAlign="space-around center">
   <span *ngIf="error">
        <span i18n>Sorry, an error occured</span>
        <br>
        <button  md-button (click)="tryAgain()" i18n>TRY AGAIN</button>
    </span>
</div>