.message-spinner {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;

    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 62px;
}