  <!--  step 1 scan  -->
    <div class="scan-instruction-container" *ngIf="step == 1">
        <p>1 / 2</p>
        <p i18n>Put on the light bra.</p>
        <p i18n>This will ensure to get the most accurate measurements.</p>
        <div>
            <img src="../../../assets/images/scan/light-bra.png" />
        </div>
        <button i18n (click)="nextStep()" class="stefanka-button-large stefanka-button-accent">NEXT</button>
    </div>
    <!-- Step 2 scan -->
    <div class="scan-instruction-container" *ngIf="step == 2">
        <p>2 / 2</p><br/>
        <p i18n>Put your hands on your hips, straighten your back, look ahead.</p><br/>
        <p i18n>Press Start when you are ready.</p>
        <div>
            <img src="../../../assets/images/scan/silouhette.svg" height="50px" />
        </div>
        <button i18n (click)="next()" class="stefanka-button-large stefanka-button-accent">START</button>
    </div>