<div i18n>It seems you haven't defined a password yet. Enter one to finalize your inscription.</div>
<form [formGroup]="fv.passwordRegisterForm">
  <div>
    <!--<label id="passLbl" (click)="switchEyes()" (touch)="switchEyes()"><i class="material-icons">{{icon_eye}}</i></label>-->
    <md-input-container color="accent">
      <input mdInput #clientPassword formControlName="password" name="password" [attr.type]="passwordVisibility ? 'text' : 'password'"
        i18n-placeholder placeholder="Password">
      
      <md-icon mdSuffix *ngIf="!passwordVisibility" (click)="passwordVisibility = true">visibility</md-icon>
      <md-icon mdSuffix *ngIf="passwordVisibility" (click)="passwordVisibility = false">visibility_off</md-icon>
    </md-input-container>
    <span *ngIf="fv.formErrors_passwordReg.password" style="color:red;margin-top:-5px;">
        {{ fv.formErrors_passwordReg.password }}
    </span>
  </div>
</form>

<button [disabled]="!fv.passwordRegisterForm.valid" type="button" class="stefanka-button-large stefanka-button-accent" (click)="registerPassword(clientPassword.value)"
  (touch)="registerPassword(clientPassword.value)" i18n>NEXT</button>
