#measurements{
    .btn{
        width: 178px;
    }
    .btn1{
        border: 1px solid $pink;
        background-color: $white;
        color:$pink;
    }
    .btn2{
        background-color: $pink;
        color:$white;
    }
    h3{
        color:$pink;
    }
    h2{
        color: $blue;
    }
    input{
        border-color:$blue;
    }

}