<div translate>It seems you haven't defined a password yet. Enter one to finalize your inscription.</div>
<form [formGroup]="fv.passwordRegisterForm">
  <div>
    <!--<label id="passLbl" (click)="switchEyes()" (touch)="switchEyes()"><i class="material-icons">{{icon_eye}}</i></label>-->
    <mat-input-container color="accent">
      <input matInput #clientPassword formControlName="password" name="password" [attr.type]="passwordVisibility ? 'text' : 'password'"
        [placeholder]="'Password'|translate">

      <mat-icon matSuffix *ngIf="!passwordVisibility" (click)="passwordVisibility = true">visibility</mat-icon>
      <mat-icon matSuffix *ngIf="passwordVisibility" (click)="passwordVisibility = false">visibility_off</mat-icon>
    </mat-input-container>
    <!-- <span *ngIf="fv.formErrors_passwordReg.password" style="color:red;margin-top:-5px;">
        {{ fv.formErrors_passwordReg.password }}
    </span> -->
    <div *ngIf="fv.formErrors_passwordReg.password" class="errorMessage" style="margin-top:-5px;">
        <div *ngFor = "let error of fv.formErrorsList">
            <span translate>{{error}}.</span>
        </div>

    </div>
  </div>
</form>

<button [disabled]="!fv.passwordRegisterForm.valid || isClickedNext" type="button" class="stefanka-button-large stefanka-button-accent" (click)="registerPassword(clientPassword.value)"
  (touch)="registerPassword(clientPassword.value)" translate>NEXT</button>
