<div id="navbar_container">
    <div id="nav_bar">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">{{icon}}</i></a>
        <a href="#" id="back_btn"><i class="material-icons">clear</i></a>
        <div id="title">
            <label>{{title | translate}}</label>
        </div>
    </div>
    <div id="grayCover_nav"></div>
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    
                </div>
                <div id="img_avatar" href="#!user"><img src="images/appBar/default_avatar.jpg" /></div>
                <div id="userName"  href="#!name"><span class="white-text name">Olivia Stone</span></div>
                <div id="userEmail"><span class="white-text email">OliviaStone@gmail.com</span></div>
            </div>
        </li>
        <li><label class="subheader" style="color:rgba(0,0,0,0.54);font-size:large">{{"Dashboard" | translate}}</label> </li>
        <li><div class="divider"></div></li>
        <li class="waves-effect"><i class="material-icons">settings</i><label >{{"Paramètres" | translate}}</label></li>
        <li class="waves-effect"><i class="material-icons">room</i><label >{{"Cabines" | translate}}</label></li>
        
    </ul>
    
</div>