<div fxLayout="column" fxLayoutAlign="start center" class="tile-container">
  <img mat-card-image [src]="product.thumbUrl" class="product-detail-image">
  <div class="product-information" fxFlex fxLayout="column" fxLayoutAlign="space-between none">
    <div class="product-name" fxFill fxLayout="row" fxLayoutAlign="center center" >
      <span stfk-cardTitle>{{product.productMetadatas['_product_name']}}</span>
    </div>
    <div class="product-detail-bottom stfk-subheading" fxLayout="row" fxLayoutAlign="space-between center" >
      <span class="product-detail-brand">
        BRAND
      </span>
      <span class="product-detail-price stfk-subheading">
        {{product.productMetadatas['_product_price'] | currency:'CAD':true}}
      </span>
    </div>
  </div>
</div>
