<span i18n>Enter your password to log into your account.</span>
<form [formGroup]="fv.passwordForm">
    <div class="form-group">
        <md-input-container color="accent">
            <input #clientPassword mdInput formControlName="password"  name="password" type="password" i18n-placeholder placeholder="Password">
        </md-input-container>
    </div>
    <span *ngIf="fv.formErrors_password.password" style ="color:red;margin-top:-5px;">
        {{ fv.formErrors_password.password }}
    </span>
    <span *ngIf="!fv.passwordForm.valid && !fv.formErrors_password.password" style ="color:red;margin-top:-5px;">
        {{fv.validationMessages_password.password.wrongPassword}}
    </span>
</form>

<button [disabled]="!fv.passwordForm.valid" class="stefanka-button-large stefanka-button-accent" (click)="password(clientPassword.value)" (touch)="password(clientPassword.value)"
    i18n>NEXT</button>

