.show_div{
    display:block;
}
.hide_div{
    display:none;
}
nav {
    padding-left:7px;
    padding-right:7px;
    background-color: white;
    box-shadow: none;
}

#header_prd {
    /*width: 738px;
    height: 56px;*/
}

#header_prd label i {
    font-size: 30px;
    color: black;
    opacity: 0.50;
}

#header_prd label {
    display: inline-block;
    font-family: 'Raleway-Regular';
    font-size: 20px;
    color: black;
    opacity: 0.87;
}

#header_prd label:nth-child(2) {
    vertical-align: top;
}
#dropdown3 {
    background-color:white;
    border: 2px solid gainsboro;
    box-shadow: 2px 2px 10px #888888;
    width: 240px !important;
    display:none;
    position:fixed;
    right:10px;
    top:5px;
    z-index:805;
    cursor:pointer;
}

#dropdown3 li label {
    font-family: Raleway-SemiBold;
    font-size: 24px;
    opacity: 1;
    color: black;
    opacity: 0.90;
    cursor: pointer;
    text-decoration: none;
    margin-top:-5px;
}

#dropdown3 a{
    text-decoration: none;
    display:flex;
}
#dropdown3 li i {
    opacity: 0.50;
    display: inline-block;
    line-height: 38px;
    font-size: 24px;
    color: black;
    
}
#dropdown3 li{
    transition: background-color 0.6s ease;
    background-color: white;
    margin-top:5px;
}
#dropdown3 li:hover{
    transition: background-color 0.6s ease;
    background-color: lightgrey;
}
.ui-mobile label, .ui-controlgroup-label {
    display: inline-block !important;
}

#header_prd +ul li {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

#header_prd +ul li i {
    font-size: 30px;
    color: black;
    opacity: 0.5;
}

#header_prd ul li:nth-child(1) {
    cursor: pointer;
    padding-right:43px;
    line-height:40px;


}


#shopping_icon {
    z-index: 200;
    
}

#basket_number2 {
    position: absolute;
    margin-top: 35px;
    margin-left: 17px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #017e61;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 24px; /*same as height of div*/
    /*display: none;*/
    z-index: 201;
    box-shadow: 0px 0px 3px white;
    -webkit-box-shadow: 0px 0px 3px white;
    -moz-box-shadow: 0px 0px 3px white;
}
#dropdown3 {
    border: 2px solid gainsboro;
    box-shadow: 2px 2px 10px #888888;
    margin-top: 15px;
    margin-left:0;
    width: 240px !important;
}
 #dropdown3 li{
     margin-left:0;
 }
#dropdown3 li a {
    font-family: Raleway-SemiBold;
    font-size: 22px;
    opacity: 1;
    color: black;
    opacity: 0.90;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    line-height:40px;
}

#dropdown3 li i {
    opacity: 0.50;
    display: inline-block;
    line-height: 28px;
    font-size: 23px;
}
#detail {
    margin-top: 50px;
    width:80%;

}
#back_btn {
    display:inline-block;
}
/*#back_btn i{
    text-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
#back_btn i:hover{
    text-shadow:none;
}*/
#prd_img {
    float: left;
    width: 200px;
    /*margin-top: 45px;*/
    margin-left: 30%;
    text-align: center;
}

#prd_img img {
    max-width: 100%;
    max-height: 100%;
}

#prd_color {
    width: 140px;
    height: 200px;
    float: right;
    margin-right: 10%;
    margin-top:10px;
}

#prd_color ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px; /* account for borders */
    width: 100px;
    /*margin-right: 20px;*/
    /*margin-top: 30px;*/
}

#prd_color li {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    display: grid;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 10px;
    text-align: center;
        
}
    
#prd_color img{

    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    
}
#prd_color div{
    position:relative;
    text-align:center;
    width:50px;
    height:50px;
    overflow:hidden;
    box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
    border-radius:50%;
    border:2px solid rgba(0,0,0,0.4);
}
#prd_color div:hover {
    box-shadow:none;
}

.black2 div {
    background-color: rgba(0,0,0,0.5);
}

.lightblue2 div {
    background-color: rgba(222,222,222,0.5);
}

.purple2 div {
    background-color: rgba(114,28,97,0.5);
}

.redpurple2 div {
    background-color: rgba(213,48,106,0.5);
}

.greenblue2 div {
    background-color: rgba(42,141,156,0.5);
}

.red2 div {
    background-color: rgba(226,34,63,0.5);
}

.beige2 div {
    background-color: rgba(215,172,142,0.5);
}

.pink2 div {
    background-color: rgba(238,112,112,0.5);
}

.blue2 div {
    background-color: rgba(0,46,240,0.5);
}

.black2, .lightblue2, .purple2, .redpurple2, .greenblue2, .red2, .beige2, .pink2, .blue2 {
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    z-index: 10;
}

.black2 {
    background-color: black;
}

.lightblue2 {
    background-color: rgb(222,222,222);
    border: 1px solid rgba(0,0,0,0.3);
}

.purple2 {
    background-color: rgb(114,28,97);
}

.redpurple2 {
    background-color: rgb(213,48,106);
}

.greenblue2 {
    background-color: rgb(42,141,156);
}

.red2 {
    background-color: rgb(226,34,63);
}

.beige2 {
    background-color: rgb(215,172,142);
}

.pink2 {
    background-color: rgb(238,112,112);
}

.blue2 {
    background-color: rgb(0,46,240);
}
#sku_div{
    /*width:70%;*/
    margin-left: 10%;
    float:left;
    display:inline-block;
}
#fabric_div{
    margin-left: 10%;
}
#sleeve_div{
    margin-left: 10%;
}
#cut_div{
    margin-left: 10%;
    display: flex;
}
#prd_brand {
    margin-left: 10%;
    margin-top: 3%;
}

#prd_brand label, #prd_price label, #sku_div label, #fabric_div label,#cut_div label,#sleeve_div label,#prd_description label, #prd_feature label,#prd_feature #list_feature ul li{
    font-family: 'Raleway-SemiBold';
    font-size: 18px;
    color: black;
    opacity: 0.87;
}
#fabric_div label:first-child,#cut_div label:first-child,#sleeve_div label:first-child{
    float:left;
    margin-right: 2%;
}
#fabric_div label:last-child,#cut_div label:last-child,#sleeve_div label:last-child, #prd_feature #list_feature ul li{
    opacity: 0.50;
}
#prd_brand label:first-child {
    display: inline-block;
    float: left;
    
}

#prd_brand label:last-child {
    /*margin-right: 10%;*/
    float: right;
}

#prd_price {
    display: inline-block;
    float:right;
}

#prd_description {
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
}

/*#prd_description label, #prd_feature label {
    font-family: 'Raleway-Regular';
    font-size: 16px;
    color: black;
    opacity: 0.87;
}*/
/*#prd_feature label {
    font-weight:bold;
}*/
#prd_feature {
    margin-left: 10%;
    /*margin-top: 25px;*/
    width: 80%;
}
#prd_feature #list_feature{
    max-width:100%;
    /*height: 100px;*/
    overflow-y:auto;

}
    #prd_feature ul li {
        font-family: 'Raleway-Regular';
        font-size: 14px;
        color: black;
        opacity: 0.87;
    }

        #prd_feature ul li::before {
            content: '- ';
        }

#btn_add {
    position:fixed;
    display:none;
}

.btn-floating.btn-large {
    background-color: #017e61 !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    -webkit-box-shadow: -2px 2px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: -2px 2px 5px rgba(0,0,0,0.7);
    width: 70px;
    height: 70px;
}

.btn-floating.btn-large i {
    margin-top: 8px;
}

.clr_both {
    clear: both;
}
.hide-on-med-and-down{
    display:block !important;
}
/*-----------------------add to cart list-----------------------*/
.cart_list {
    width: 630px;
    /*height:450px;*/
    position: fixed;
    top: 1.5%;
    right: 4%;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: -3px 3px 15px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: -3px 3px 15px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px 3px 15px 1px rgba(0,0,0,0.5);
    z-index: 810;
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    #header_prd label {
        font-size: 16px;
    }
     #back_btn label:last-child{
        white-space: nowrap;
        width: 21em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #header_prd ul li i {
        font-size: 30px;
    }
    #body_prd{
        margin-top:20px;
    }
    #detail{
         margin-top: 50px;
         width:90%;
    }
    #prd_img {
        width: 200px;
        height:300px;
        margin-left: 20%;
    }
    #prd_color {
        /*margin-right: -40px;*/
        margin-top: 0px;
    }
    #prd_color ul {
        height: 270px;
    }

    #prd_color li {
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .cart_list {
        width: 400px;
    }

    /*#body_prd {
        margin-top: 50px;
    }*/

    #prd_brand {
        margin-left: 40px;
    }

    /*#prd_brand label:last-child {
        margin-right: 5px;
    }*/

    #prd_price {
        margin-left: 40px;
        margin-top: 10px;
    }

    #prd_description {
        margin-left: 40px;
        margin-top: 20px;
    }

    #prd_feature {
        margin-left: 40px;
        margin-top: 20px;
    }

    #prd_color ul {
        display: flex;
    }

    #prd_color li {
        display: block;
    }

    /*#btn_add {
        margin-top: 130px;
    }*/
    #basket_number2 {
        margin-left: 21px;
    }
}
@media screen and (min-width: 1260px){
    #prd_img {
        width: 350px;
        height:450px;
    }
     #prd_color ul {
      height: 450px;
    }
}
@media screen and (min-width: 1885px){
    #prd_img {
        margin-left: 40%;
    }
    #prd_color {
       margin-top: 30px;
    }
    #prd_brand label, #prd_price label, #sku_div label, #fabric_div label,#cut_div label,#sleeve_div label,#prd_description label, #prd_feature label,#prd_feature #list_feature ul li{
        font-size: 24px;
    }
}