/* .mat-select {
        height: 20px;
        margin-top: 15px;
        margin-left: -15px;
    }
    .mat-select-underline {
        display: none !important;
    }
    .mat-select-trigger {
        min-width: 10px;
    }
    .mat-select-arrow {
        color: $yellow;
    }
    .mat-select-panel,.mat-primary,.mat-select-panel-done-animating,.mat-select-content 
    {
        min-width: 10px !important;
        border-radius: 60px !important;
    }
    .mat-select-panel{
        margin-left: 30px ;
    }
    .mat-select-content{
        text-align: center;
    }
    .mat-option,.mat-option-ripple {
        border-radius: 60px;
        text-align: center !important;
    }
    
    .mat-option:hover{
        background-color: $yellow !important;
    }*/