<!---------------------------------   Add to card list  -----------------------------------> 
<div id="list_div" *ngIf="addTocartService.orderNumber>0">
    <ul>
        <li id="list_item" *ngFor="let item of addTocartService.listCartProduct">
            <ul id="first_ul">
                <li>
                    <div id="img_div"><img [src]="item.large_picture" alt="product" /></div>
                </li>
                <li>
                    <label [innerHTML]="item.name"></label><br />
                    <label [innerHTML]="item.price"></label>
                </li>
                <li><i id="delete_btn" class="material-icons" (click)="deletFromCart(item.id)" (touch)="deletFromCart(item.id)">&#xE872;</i></li> <!--delete from list-->
            </ul>
            <hr />
        </li>
    </ul>
</div>
<div id="nothing_div" *ngIf="addTocartService.orderNumber<=0"> <!--[class.disable_mod]="addTocartService.orderNumber<=0" [class.enable_mod]="addTocartService.orderNumber>0"-->
    <label>{{'Sélection vide' | translate}}!</label>
</div>
<div id="passer" [class.disable_mod]="addTocartService.orderNumber<=0" ><label [class]="addTocartService.orderNumber<=0?'disable_mod':'enable_mod'">{{"PASSER À L'ESSAYAGE" | translate}}</label></div>